@media (max-width  :1250px){
    .big-text,
    .common-banner h1{
        font-size:  33px;
    }
    .common-banner h1{
        text-align:     center  ;
    }
}
@media (max-width :993px){
    nav img{
        width: 150px;
    }
    .navbar-collapse{
        display: block;
    }
    .navbar{
        padding:    0 1rem;
        position:   fixed   ;
        z-index:    99999;
        width:  100%;
        background:     #fff;
    }
    .top-fix{
        padding-top:72px;
    }
    .fix-height-testimonial .slider__{
            margin: unset   ;
    }
    .testimonial .next-arrow,
    .testimonial .prev-arrow{
        display:    none    ;
    }
    .fix-height-testimonial .test__, .fix-height-testimonial .test-content-sec{
        height:     unset   ;
    }
    .navbar-nav{
        align-items: flex-start;
    }
}
@media (max-width: 767px){
    .product-card{
        margin: 1rem 0;
    }
    .header{
        font-size: 40px;
    }

    .testimonial .next-arrow,
    .testimonial .prev-arrow{
        display:    block    ;
    }
    .c-box{
        height: 250px;
    }
    .core-box2 .inner-text h2,
    .product-section .header h2{
        font-size: 30px;
    }
    .core-box2::after,
    .core-box2,
    .core-box1:after,
    .core-box1{
        height: 350px;
    }
    .border-img2,
    .border-img{
        height: 310px;
    }
    .d-{
        display: block;
    }
    .d- .header,
    .d- .para{
        width: 100%;
    }
    .d- .para{
        text-align: center;
        margin: 1rem 0;
    }
    .slider-sec .slider-img1{
        height: 500px;
    }
    .slider-sec .slider span{
            padding: 1rem 1rem;
    width: 73%;
    top: 543px;
    font-size: 25px;
    }
    .slider-sec .slick-next, .slider-sec .slick-prev{
        top: 80px;
        bottom: unset;
    }
    .slider-sec .slider-text{
        padding: 5rem 2rem 2rem 2rem;
    }
    .slider-sec .slider__counter{
        bottom: unset;
        top: 0;
    }
    .slider__item{
        margin: 4rem 0 0;
    }
    .slide-extra {
        top: 82px;
    }
    .ex2{
        top: 50px;
    }.cs{
        margin: 1rem 0;
    }
    .footer-inn ul {
        display: block;
    }
    .footer-inn ul li{
        width: 100%;
        margin-bottom: 2rem;
    }
    .footer-inn ul li{
        border: none;
    }
    
    .BA{
        right:  0;
    }
    .ba_1 p{
        padding:    1rem;
    }
    .fix-height-testimonial .col-md-6 .test__, .fix-height-testimonial .col-md-6 .test-content-sec{
        height:     unset   ;
    }
    .fix-height-testimonial .slider__{
        width:  90%;
    }
    .testimonial .prev-arrow,
    .testimonial .next-arrow {
    top: -70px;
    left:   0;
    }
    .testimonial .next-arrow{
        left: 65px;
    }
    .cart-btn{
        width:  100%;
    }
    .breadcrum{
        width:  95%;
    }
}